@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #080b11;
    color: #f1f5f9;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0d121d;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #334155;
}
